table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 28px;
  }
  
  th {
    background-color: #eaf4fd;
    border: 1px solid #dddddd;
    color: black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #eaf4fd;
  }
  
.table-funcionarios{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  }

  .button-pesquisar{
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    float: right;
    padding-top: 7px;
  }

.filtro-funcionarios{
    width: 350px;
    padding-top: 200px;
    margin-right: 50px;
    margin-left: 50px;
}