table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 28px;
  }
  
  th {
    background-color: #eaf4fd;
    border: 1px solid #dddddd;
    color: black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #eaf4fd;
  }
  